$name-color: #FFF;
$sidebar-font-color: #ababab;
$sidebar-hover-color: #493F4A;
$dark-color: #2F292A;

img.robotImage {
  width: 100px;
}

nav {
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }

  li {
    float: left;
    font-family: Arial, sans-serif;

    a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;      

      &:hover {
        background-color: rgb(250, 133, 0);
      }
    }
  }
}

section {
  padding: 20px;

  h1 {
    margin: 2px 0 12px;
  }
  
  h2, h3, h4, h5, h6 {
    margin: 20px 0 12px;
  }

  input {
    width: 100%;
    height: 20px;
    padding: 2px;
    margin: 12px 0;
  }

  pre {
    background-color: #EEE;
    border-radius: 5px;
    padding: 10px;
    margin: 12px 0;
  }
}