doctype html
html.no-js
  head
    include includes/head.pug
    title HTML5 Forms

  body

    include includes/mixins.pug

    include includes/navigation.pug

    section
      h1#title HTML5 Forms
    
      

    include includes/footer.pug